node-red/flows.json
[{"id":"867cb7a0.698a68","type":"tab","label":"Free Car","disabled":false,"info":""},{"id":"1b481adb.0b9d15","type":"serial out","z":"867cb7a0.698a68","name":"SERIAL","serial":"91ace13a.9d4ff","x":560,"y":360,"wires":[]},{"id":"b6da2d68.f031d","type":"ui_button","z":"867cb7a0.698a68","name":"","group":"7518ab16.198a44","order":3,"width":"8","height":"1","passthru":false,"label":"UP","tooltip":"","color":"#FFF","bgcolor":"#f1c40f","icon":"","payload":"UP_UP_","payloadType":"str","topic":"","topicType":"str","x":230,"y":320,"wires":[["1b481adb.0b9d15"]]},{"id":"c0817e37.8e16","type":"ui_button","z":"867cb7a0.698a68","name":"","group":"7518ab16.198a44","order":7,"width":"8","height":"1","passthru":false,"label":"DOWN","tooltip":"","color":"#FFF","bgcolor":"#f1c40f","icon":"","payload":"DOWN_DOWN_","payloadType":"str","topic":"","topicType":"str","x":240,"y":380,"wires":[["1b481adb.0b9d15"]]},{"id":"b98030c4.d8f36","type":"ui_button","z":"867cb7a0.698a68","name":"","group":"7518ab16.198a44","order":4,"width":"3","height":"2","passthru":false,"label":"LEFT","tooltip":"","color":"#000000","bgcolor":"#1abc9c","icon":"","payload":"LEFT_LEFT_","payloadType":"str","topic":"","topicType":"str","x":230,"y":440,"wires":[["1b481adb.0b9d15"]]},{"id":"30282326.9088bc","type":"ui_button","z":"867cb7a0.698a68","name":"","group":"7518ab16.198a44","order":6,"width":"3","height":"2","passthru":false,"label":"RIGHT","tooltip":"","color":"#000000","bgcolor":"#1abc9c","icon":"","payload":"RIGHT_RIGHT_","payloadType":"str","topic":"","topicType":"str","x":230,"y":500,"wires":[["1b481adb.0b9d15"]]},{"id":"d465bcbb.c7714","type":"ui_button","z":"867cb7a0.698a68","name":"","group":"7518ab16.198a44","order":5,"width":"2","height":"2","passthru":false,"label":"STOP","tooltip":"","color":"#FFF","bgcolor":"#e74c3c","icon":"","payload":"STOP_STOP_","payloadType":"str","topic":"","topicType":"str","x":230,"y":560,"wires":[["1b481adb.0b9d15"]]},{"id":"6dfc7526.dc6c7c","type":"ui_template","z":"867cb7a0.698a68","group":"7518ab16.198a44","name":"Picture","order":2,"width":"8","height":"8","format":"<iframe width=\"400\" height=\"360\" frameborder=\"yes\" scrolling=\"auto\" src=\"http://192.168.0.58:5001\" name=\"Picture\" hspace=\"10\" vspace=\"10\"> </iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":240,"y":200,"wires":[[]]},{"id":"91ace13a.9d4ff","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"2","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"7518ab16.198a44","type":"ui_group","name":"FREE_CAR","tab":"6f75df18.1458a","order":1,"disp":false,"width":"8","collapse":false},{"id":"6f75df18.1458a","type":"ui_tab","name":"FREE_CAR","icon":"dashboard","order":1,"disabled":false,"hidden":false}]